@model BookSelling.Models.Reviews

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reviews</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pontuacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pontuacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Visibilidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Visibilidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adverts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adverts.ISBM)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReview">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
