@model BookSelling.Models.UserReview

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserReview</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador2.Area)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdReview">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
