@model IEnumerable<BookSelling.Models.UserReview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValueReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utilizador2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValueReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizador2.Area)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReview">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReview">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReview">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
