@model BookSelling.Models.Advertisement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Advertisement</h4>
    <hr />
    <div style="float:left; margin-right:20px;  margin-top:10px; border:4px solid black">
        <img src="~/Photos/@Html.DisplayFor(model => model.Photo)"
             width="200" />
    </div>
    <div style="line-height:2;  ">
        <b> Titulo:</b>
        @Html.DisplayFor(model => model.Title) <br />

        <b> Preço: </b>
        @Html.DisplayFor(model => model.Price)<br />

        <b> Tipo de anuncio:</b>
        @Html.DisplayFor(model => model.TypeofAdd)<br />

        <b> ISBM:</b>
        @Html.DisplayFor(model => model.ISBM)<br />

        <b> Data de criação:</b>
        @Html.DisplayFor(model => model.DateTime)<br />

        <b>Categorias: </b>
        @foreach (var item in Model.CategoriesList) {
            <a asp-route-id="@item.IdAdvertsCategory" style="margin-right:5px;">@item.Advertisement</a>
        }<br />

        <b> Descrição:</b>
        @Html.DisplayFor(model => model.Description)<br /> <br /><br /> <br />

    </div>



    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
